body {

  padding: 0;

  margin:0;

  font-family: "Microsoft YaHei UI Light";

}



.qxs-icon {

  height: 40px;

  width: 90%;

  margin-bottom: 5px;

  padding-left: 10%;

  border: 0;

  border-bottom: solid 1px lavender;

}
