<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    hello
    <br>
    <a href="/users/logout">logout</a>
    <br>
    <a href="/users/apply">apply for leader</a>
    <br>
    <a href="/leader">leader</a>
    <br>
    <a href="/join">join a group</a>
  </body>
</html>
