<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>join</title>
</head>
<body>
    <div>
        <form action="/users/join" method="POST">
          <input type="text" name="groupID" value="" placeholder="please enter the groupID...">
          <input type="submit" name="" value="join">
        </form>
    </div>
</body>
</html>