<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>regist</title>
</head>
<body>
    <div>
        <form action="/users/regist" method="POST">
          <input type="text" name="username" value="" placeholder="please enter the username...">
          <input type="password" name="password" value="" placeholder="please enter the password...">
          <input type="password" name="password2" value="" placeholder="please confirm the password...">
          <input type="submit" name="" value="regist">
  
        </form>
        <div>Existing account, <a href="/login">login directly</a></div>
      </div>
</body>
</html>